
<% include ./partials/messages %>

<% include menu %>
<br/>
<p class="lead mb-3">Welcome <%= user.name %></p>


<div class="card mt-5">
<%  courses.forEach(courses=>   {   %>
    <div class="card mt-4">
        
        <div class="card-body">
            <h4 class="card-title"><%=courses.name %></h4>
            <div class="card-subtitletext-muted mb-2">
                <%= courses.sem %>
            </div>
            <div class="card-text mb-2"><%= courses.desc %></div>
            <div class="card-text mb-2"><%= courses.Faculty %></div>            
            Rating1:<div class="card-text mb-2"><%= courses.Rating1 %></div>
            Rating2:<div class="card-text mb-2"><%= courses.Rating2 %></div>
            Rating3:<div class="card-text mb-2"><%= courses.Rating3 %></div>
            Rating4:<div class="card-text mb-2"><%= courses.Rating4 %></div>
            Rating5:<div class="card-text mb-2"><%= courses.Rating5 %></div>
            Net_Rating:<div class="card-text mb-2"><%= courses.Net_Rating %></div>
            Reviews:<div class="card-text mb-2"> <%  courses.Reviews.forEach(review=>  {   %>
            <div class="card-text mb-2"> 
                Rating1:<%= review.rating1 %> 
                Rating2:<%= review.rating2 %> 
                Rating3:<%= review.rating3 %> 
                Rating4:<%= review.rating4 %> 
                Rating5:<%= review.rating5 %> 
                Net_Rating:<%= review.net_rating %> 
                Reviewed By:<%= review.student %>  
                </div>
            </div>
                 
                <% })     %> 
             </div>   
         </div>
    
<%  })  %>
</div>